<% include _layouts/header %>
    <% media.forEach(function(medias){ %>
        <% if (medias.category.title == "home-banner"){ %>
            <img src="<%= medias.path %>" alt="<%= medias.alt %>">
        <% } %>
    <% }) %>
    <div class="divider"></div>
    <div class="page__about">
        <div class="card">
            <h4>developer</h4>
                <p> I am a very motivated, self-taught web developer with knowledge of Golang, ReactJs, Javascript, HTML, CSS, RESTful api's, Express, and NodeJS. Currently, I am exploring various computer science topics and data structure solutions. Kali Linux also has my interest.</p>
        </div>
        <div class="card">
            <h4>designer</h4>
                <p>I will have my BA for Graphic Design in October 2018. I have played around with the creation of various print material, but I am very interested in the UX considerations surrounding web design. VR is also extremely fascinating to me at the present moment.</p>
        </div>
        <div class="card">
            <h4>writer</h4>
                <p>I regularly perform spoken word poetry and try to tell stories when I can. I enjoy being in front of people and working with crowds. I have well over 200 pages of various scripts, a few plays being worked on, a completed novel, and a collection of short stories near completion.</p>
        </div>
    </div>
    
<% include _layouts/footer %>