.admin-section {
  &__dashboard-row {

    display: flex;
    width: 100%;
    border-bottom: 2px solid $colorFive;

    &__redirect {
      height: 200px;
      padding: 20px;
      width: 250px;
      font-size: 40px;
      font-weight: 900;
      text-align: center;
      border: 1px solid $colorFour;
      background: $colorFive;
      color: $colorSix;

      &:hover {
        background-color: $colorSeven;
        color: #eee;
        transition: 0.4s;
      }
    }

    &__notepad {
      display: flex;
      flex: 1;
    }
    &__log {
      display: flex;
      width: 100%;
    }
    &_note-box {
      border: 10px solid $colorFive;
      margin: 10px;
      padding: 20px;
      color: $colorFive;
      width: 33%;
      text-align: center;
      overflow: hidden;
      transition: background 0.4s linear;

      &:hover {
        border: 10px solid $colorFour;
        background: $colorOne;
        color: $colorFour;
        transition: background 0.4s linear;
      }

      h3 {
        font-size: 30px;
      }

      p {
        font-size: 20px;
        margin: 10px;
      }
    }

    &--divider {
      width: 100%;
      height: 90px;
      padding: 20px;
      border-bottom: 2px solid $colorFour;
      background: $colorThree;
    }
  }
}