.admin-blocks {
  width: 250px;
  border: 3px solid $colorFive;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: $colorTwo;
  transition: box-shadow 0.3s linear;
  border-radius: 0 50px 0 0;

  &:hover {
    box-shadow: 2px 5px 10px black; 
    cursor: pointer;
    .admin-blocks__delete-stuffs {
      visibility: visible;
    }
  }

  & h4 {
    font-size: 12px;
    margin: 0;
    color: $colorFour;
  }

  & h5 {
    font-size: 20px;
    margin-top: 0;
    padding-left: 10px;
  }

  &__delete-stuffs {
    visibility: hidden;
    display: flex;
    justify-content: center;
    transition: background 0.4s linear;
    border: 2px solid $colorFive;

    & button {
      padding: 10px;
      background: transparent;
      border: none;
      display: flex;
      cursor: pointer;
      flex: 1;
      justify-content: center;
      background: $hoverDanger;

      &:hover {
       
        background: $transitionDangerHover;
        transition: background 0.4s linear;
      }
    }
  }
}

