.admin-form {
  display: flex;
  flex-direction: column;

  &__group {
    display: flex;
    flex-direction: column;
  }
  &--row {
    display: flex;
  }

  label {
    font-size: 20px;
    font-weight: 600;
    color: $colorFive;
    width: 250px;
    margin: 10px 0 0px 10px;
  }

  input {
    width: 250px;
    height: 30px;
    margin: 10px 0 0 10px;
  }

  select {
    width: 250px;
    height: 30px;
    margin: 10px 0 10px 10px;
    font-size: 18px;
  }

  textarea {
    margin: 10px;
  }
  input[type="checkbox"] {
    background: #000;
  }
  &--disabled-resize {
    resize: none;
  }

  &__form-options {
    width: 290px;
    background: $colorTwo;
    border: 1px solid $colorFour;
    margin: 10px;
    padding: 5px 5px 15px 5px;

    &--wide {
      width: 530px;
    }

    &--bottom-group {
      display: flex;
    }

    &--second-group {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    & h6 {
      text-align: center;
      color: $colorFour;
      margin: auto 0;
    }
  }

  &__size-holer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    label {
      font-size: 12px;
      width: 40px;
      font-weight: 600;
      color: $colorFive;
      margin: 10px;
    }

    input {
      margin: 0 auto;
    }
  }

  &--wide {
    label {
      width: 500px;
    }
    input {
      width: 500px;
    }
  }
}
