body {
  font-family: "Roboto", sans-serif;
  color: $background;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $black;
  text-decoration: none;
  overflow: hidden;

  &:hover{
    color: $blue;
  }
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.divider {
  width: 100%;
  margin-top: -4px;
  height: 10px;
  background: $blue;
}

main{
   overflow: hidden;
}
