<%- include("../../../../important/admin/views/_layouts/adminheader") %>
    <h2 class="admin-page__main-title">Add New Blog Comment</h2>


<%- include("../../../../important/admin/views/_layouts/adminfooter") %>