<%- include("../../../../includes/admin/views/_layouts/adminheader") %>
<div class="admin-background-full"></div>
    <h2 class="admin-page-title">Blog Comments</h2>


<%- include("../../../../includes/admin/views/_layouts/adminfooter") %>