<% include ../_layouts/adminheader %>
    <h2 class="admin-page__main-title">Settings</h2>
    <% include ../_layouts/messages/messages %>
    <%- content %>
    <form method="post" action="/admin/settings" enctype="multipart/form-data" class="admin-form">
        <div class="admin-form__form-options">
            <% config.forEach(configs=>{ %>
                <label><%= configs.name %></label>
                <input name="<%= configs.name %>" type="text" value="<%= configs.info %>" autocomplete=false />
            <% }) %>
        </div>
        <button class="admin-button admin-button--submit">Save</button>
    </form>
<% include ../_layouts/adminfooter %>
