</main>
<div class="footer">
       
    <p>&COPY; 2018 FoxChrisRealThe - Design by
        <a href="https://foxdesignagency.com" target="_blank">Fox Design Agency</a>
    </p>
    <p>Powered by Aristos - Node Version - 0.0.3</p>
</div>
 <!-- build:js(content/temp) ../../../public/scripts/main.js -->
<script src="/scripts/main.js"></script>
 <!-- endbuild -->

</body>

</html>