    </main>
    <div class="footer"> 
    <a href="https://www.linkedin.com/in/foxchrisrealthe/" target="_blank">LinkedIn</a> |
    <a href="https://github.com/FoxChrisRealTheGit" target="_blank">Github</a> |
    <a href="https://www.npmjs.com/~foxchrisrealthe" target="_blank">NPM</a>
        <p>&COPY; <%= new Date().getFullYear() %> FoxChrisRealThe - Design by
            <a href="https://foxdesignagency.com" target="_blank">Fox Design Agency</a>
        </p>
        <p><a href="https://www.npmjs.com/package/generator-aristos" target="_blank">Powered by Aristos - Node Version - 0.3.0</a></p>
    </div>
 <!-- build:js(content/temp) /scripts/main.js -->
    <script src="/temp/scripts/main.js"></script>
 <!-- endbuild -->
</body>
</html>