<% include ../_layouts/header %>
<h1 class="page__title">Contact Me</h1>
<% include ../_layouts/messages/messages %>
    <% include ../_layouts/messages/errors %>
    <%- content %>
<form class="form" method="post" action="/admin/contact">
    <div class="form__group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" placeholder="Name">
    </div>
    <div class="form__group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="form__group">
        <label>Subject</label>
        <input type="text" name="subject" class="form-control" placeholder="Subject">
    </div>
    <div class="form__group">
        <label>Content</label>
        <textarea type="text" name="content" class="form__textarea" placeholder="Place your message here..." rows="5"></textarea>
    </div>
    <!-- <div class="g-recaptcha" data-sitekey="<%= siKey %>"></div> -->
    <button type="submit">Send Message</button>



</form>

        <% include ../_layouts/footer %>