.portfolio {
  &__icon {
    width: 50px;
    margin: 5px 15px;

    @mixin atMedium {
      width: 100px;
      margin: 10px 25px;
    }
  }
  &__icons-holder {
    padding: 20px;
    display: flex;
    background: $darkGrey;
    flex-wrap: wrap;
  }

  &__holder {
    background-color: $white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @mixin atLarge {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__work-categories {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 250px;
    height: 300px;
    border: 4px solid $black;

    @mixin atMedium{
      width: 350px;
    }

    & h5 {
      text-align: center;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  &__project-category {
    padding: 10px;
    transition: all 0.4s linear;
    font-variant: small-caps;

    &:hover {
      color: $white;
      background: $blue;
      transition: all 0.4s linear;
    }
  }
  &__work-stuffs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__category-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  &--col {
    display: flex;
    flex-direction: column;
  }
}
