<% include ../_layouts/adminheader %>
<div class="admin-background-full"></div>
    <h2 class="admin-page-title">Edit a User</h2>
    <button class="btn btn-primary">
        <a class="btn-text" href="/admin/user-controls">Back to Users</a>
    </button>

    <form method="post" action="/admin/user-controls/edit-admin/<%= user._id %>">
        <div class="form-options">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Name" value="<%= user.name %>">
        </div>

        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" value="<%= user.username %>">
        </div>
        <div class="form-group">
            <label for="">Admin</label>
            <select name="admin" class="form-control">
                <option value="">

                </option>
                <option value="no">
                    No
                </option>
                <option value="yes" selected>
                    Yes
                </option>
            </select>
        </div>
</div>
        <button type="submit" class="btn-submit btn-text">Submit</button>
    </form>

    <% include ../_layouts/adminfooter %>