<% include ../../../../important/admin/views/_layouts/adminheader %>
    <h2 class="admin-page__main-title">Contact</h2>
    <% include ../../../../important/admin/views/_layouts/messages/messages %>
    <div>
        <!-- <button class="admin-button admin-button--main">
            <a class="btn-text" href="/admin/project-management/add-task">Add a new task</a>
        </button> -->
    </div>

    <h6 class="admin-page__sub-title-one" id="active-tasks">Unread Messages</h6>
    <table class="admin-table">
        <thead>
            <tr class="home">
                <th>Subject</th>
                <th>Email</th>
                <th>Content</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            


        </tbody>
        </tr>
    </table>
    <br>
    <br>
    <h6 class="admin-page__sub-title-one" id="active-tasks">Read Messages</h6>
    <table class="admin-table">
        <thead>
            <tr class="home">
                <th>Subject</th>
                <th>Email</th>
                <th>Content</th>
                <th>View</th>
                <th>Archive</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            


        </tbody>
        </tr>
    </table>
    <% include ../../../../important/admin/views/_layouts/adminfooter %>