<% include ../_layouts/adminheader %>
    <h2 class="admin-page__main-title">Add Template Dashboard</h2>
    <% include ../_layouts/messages/messages %>
    <button class="admin-button admin-button--add-something admin-button--add-something--second">
        <a href="/admin/template-builder"><i class="fa fa-hand-point-left"></i></a>
    </button>
    <button class="admin-button admin-button--add-something">
        <a href="/admin/template-builder/builder"><i class="fa fa-mouse-pointer"></i></a>
    </button>

    <form method="post" action="/admin/template-builder/add-basic" class="admin-form" class="admin-form">
     
            <div class="admin-form__form-options--bottom-group">
                <div class="admin-form__form-options">
                    <div class="admin-form__group">
                        <label for="">Title</label>
                        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
                    </div>
                    <div class="admin-form__group">
                        <label for="">Path</label>
                        <input type="text" class="form-control" name="path" value="<%= path %>" placeholder="Path within theme views folder">
                    </div>
                    <div class="admin-form__group">
                        <label for="">Author</label>
                        <input type="text" class="form-control" name="author" value="<%= author %>" placeholder="Author">
                    </div>
                    
                </div>
              
                <div class="admin-form__form-options admin-form__form-options--second-group">
                    <div class="admin-form__group">
                        <label for="">Meta Description</label>
                        <textarea class="admin-form--disabled-resize" rows="4" name="description" placeholder="Place a brief description of this template, only used to descirbe template use."
                            maxlength="320"><%= description %></textarea>
                    </div>

                </div>
            </div>
            <button class="admin-button admin-button--submit">Submit</button>
         
    </form>


<% include ../_layouts/adminfooter %>