a {
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}
#editor {
  box-shadow: 0 0 2px #ccc;
  min-height: 150px;
  overflow: auto;
  padding: 1em;
  border-top: 1px solid $colorFour;
  border-bottom: 1px solid $colorFour;
  resize: vertical;
  outline: none;
  background: #fff;
}

.toolbar {
  text-align: center;
  background-color: $colorTwo;
  border-top: 2px solid $colorFour;
  padding: 10px;
}

.toolbar a,
.fore-wrapper,
.back-wrapper {
  border: 1px solid #aaa;
  background: #fff;
  font-family: "Candal";
  border-radius: 1px;
  color: black;
  padding: 5px;
  width: 40px;
  margin: -1px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 1px 0px #f0f8ff;
}

.toolbar a:hover,
.fore-wrapper:hover,
.back-wrapper:hover {
  background: #f2f2f2;
  border-color: #aaa;
}

a[data-command="redo"],
a[data-command="strikeThrough"],
a[data-command="justifyFull"],
a[data-command="insertOrderedList"],
a[data-command="outdent"],
a[data-command="p"],
a[data-command="superscript"],
a[data-command="paste"],
a[data-comman="insertImage"] {
  margin-right: 5px;
  border-radius: 0 3px 3px 0;
}

a[data-command="undo"],
.fore-wrapper,
a[data-command="justifyLeft"],
a[data-command="insertUnorderedList"],
a[data-command="indent"],
a[data-command="h1"],
a[data-command="subscript"] {
  border-radius: 3px 0 0 3px;
}

a.palette-item {
  height: 1em;
  border-radius: 3px;
  margin: 2px;
  width: 1em;
  border: 1px solid #ccc;
}

a.palette-item:hover {
  border: 1px solid #ccc;
  box-shadow: 0 0 3px #333;
}

.fore-palette,
.back-palette {
  display: none;
}

.fore-wrapper,
.back-wrapper {
  display: inline-block;
  cursor: pointer;
}

.fore-wrapper:hover .fore-palette,
.back-wrapper:hover .back-palette {
  display: block;
  float: left;
  position: absolute;
  padding: 3px;
  width: 160px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ccc;
  height: 70px;
}

.fore-palette a,
.back-palette a {
  background: #fff;
  margin-bottom: 2px;
}

.bottomEditorBorder {
  background-color: $colorTwo;
  height: 50px;
  border-bottom: 2px $colorFour solid;
}

.editorStyleSelector {
  width: 100px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

ul {
  list-style-position: inside;
}
ol {
  list-style-position: inside;
}
.editorStyleSelector a {
  width: 100%;
}
/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
/* .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
} */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $colorFour;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.image-selector-background {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #eee;
  opacity: 0.5;
  z-index: 2;
}
.image-selector {
  left: 30%;
  top: 30%;
  position: absolute;
  z-index: 100;
  background: #eee;
  visibility: hidden;
  width: 500px;
  height: 500px;
  overflow-y: scroll;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  opacity: 1;
  border: 1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.image-selector-show {
  visibility: visible;
}