<% include ../_layouts/adminheader %>
    <h2 class="admin-page__main-title">Admin Users</h2>
    <% include ../_layouts/messages/messages %>
    <div>
        <button class="admin-button admin-button--add-something">
            <a href="/admin/user-controls/add-admin">+</a>
        </button>
    </div>

    <div class="blocks-holder">
        <% users.forEach((user)=>{ %>
        <div class="admin-blocks">
            <a href="/admin/user-controls/edit-admin/<%= user._id %>">
                <h4>
                    username:
                </h4>
                <h5 value="<%= user.username %>">
                    <%= user.username %>
                </h5>
                <h4>
                    role:
                </h4>
                <h5>
                    NOT A THING YET
                </h5>
                <form method="post" class="admin-blocks__delete-stuffs" action="/admin/user-controls/remove-admin/<%= user._id %>?_method=DELETE">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Remove</button>
                </form>
            </a>
        </div>
        <% }); %>
    </div>
<% include ../_layouts/adminfooter %>